BODY {
	COLOR: #000000;
	FONT: 75% Verdana, Helvetica, Arial, sans-serif;
	MARGIN: 10px;
	PADDING-BOTTOM: 4em;
	PADDING-LEFT: 10px;
	PADDING-RIGHT: 10px;
	PADDING-TOP: 10px;
	scrollbar-base-color: #DEE7EC;
	scrollbar-face-color: #DEE7EC;
	scrollbar-highlight-color: #DEE7EC;
	scrollbar-track-color: #F7F9FA;
	scrollbar-darkshadow-color: #F7F9FA;
	scrollbar-3dlight-color: #8CACBB;
	scrollbar-shadow-color: #8CACBB;
	scrollbar-arrow-color: #436976;
}

H1 {
	FONT-SIZE: 190%;
}
H2 {
	FONT-SIZE: 120%;
}

TABLE {	
	FONT-SIZE: 100%;
	BACKGROUND: white;
}

A {	
	BACKGROUND-COLOR: transparent;
	COLOR: blue;
}
A.large {
	/*BACKGROUND: url(images/grey_bullet.png) transparent no-repeat;*/
	padding-left: 16px;
	
}
A:visited  {
	COLOR: blue;
	}

A:hover  {
	Color: red
	}

