<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>$TITLE : $SUBTITLE</title>
</head>

<body marginheight="0" marginwidth="0" topmargin="0" leftmargin="0">
<table border="0" cellpadding="2" width="100%" height="187">
  <tr>
    <td width="100%" bgcolor="#FFCC99" height="73">
      <h1><font face="verdana,arial">&nbsp;$TITLE</font></h1>
    </td>
  </tr>
  <tr>
    <td width="100%" height="21" bgcolor="#000000"><font color="#FFFFFF" size="1" face="verdana,arial">$SUBTITLE : $NAVBAR</font></td>
  </tr>
  <tr>
    <td width="100%" height="21" bgcolor="#FFCC99"><font face="verdana,arial" size="1" color="#000000">$SUBTITLE :
      $SUBNAVBAR</font></td>
  </tr>
  <tr>
    <td width="100%" height="21"><font face="verdana,arial" size="1">$CONTENT</font></td>
  </tr>
  <tr>
    <td width="100%" height="21" bgcolor="#000000"><font color="#FFFFFF" size="1" face="verdana,arial">$SUBTITLE : $NAVBAR</font></td>
  </tr>
</table>
</body>
</html>